---
- name: install libvmi build dependencies
  package:
    name: "{{ item }}"
  with_items:
    - git
    - gcc
    - make
    - libtool
    - cmake
    - pkg-config
    - check-devel
    - glib2-devel
    - libvirt-devel
    - bison
    - flex
    - python-devel
    - json-c-devel
    - libxc-devel
    - xen-devel
  when: ansible_distribution == 'Fedora'

- name: clone libvmi
  git:
    repo: 'https://github.com/libvmi/libvmi'
    dest: /home/vagrant/libvmi
  become: false

- name: create build directory
  file:
    path: /home/vagrant/libvmi/build
    state: directory
    owner: vagrant

- name: configure libvmi
  command: cmake -DCMAKE_INSTALL_PREFIX=/usr -DENABLE_KVM=OFF ..
  args:
    chdir: "/home/vagrant/libvmi/build"
  become: false

- name: build libvmi
  command: make
  args:
    chdir: "/home/vagrant/libvmi"
  become: false

- name: install libvmi
  command: make install
  args:
    chdir: "/home/vagrant/libvmi"

- name: install libvmi python bindings dependencies
  package:
    name: "{{ item }}"
  with_items:
    - python3
    - python3-devel
    - python3-pip
    - python3-setuptools
    - python3-cffi
    - python3-pkgconfig
    - python3-future
    - python3-pytest
    - libvirt-python3
  when: ansible_distribution == 'Fedora'

- name: clone libvmi python bindings
  git:
    repo: 'https://github.com/libvmi/python'
    dest: /home/vagrant/libvmi-python
  become: false

- name: install libvmi python bindings
  command: pip3 install .
  args:
    chdir: "/home/vagrant/libvmi-python"
