---
- name: install pyvmidbg dependencies
  package:
    name: "{{ item }}"
  with_items:
    - python3-docopt
    - python3-lxml
  when: ansible_distribution == 'Fedora' or ansible_distribution == 'Ubuntu'
